header{

background:#1e3a8a;

padding:20px;

color:white;

display:flex;

justify-content:space-between;

align-items:center;

}

nav a{

color:white;

text-decoration:none;

margin-left:20px;

font-weight:bold;

}