.card{

background:white;

padding:20px;

margin:20px;

border-radius:10px;

box-shadow:0 5px 10px rgba(0,0,0,.2);

}

.excellent{

background:#d4edda;

}

.good{

background:#fff3cd;

}

button{

padding:10px 20px;

background:#1e3a8a;

color:white;

border:none;

cursor:pointer;

margin-top:15px;

}