form{

width:400px;

margin:auto;

padding:20px;

background:white;

border-radius:10px;

box-shadow:0 5px 10px gray;

}

input{

width:100%;

padding:10px;

margin-top:5px;

margin-bottom:15px;

}

button{

padding:10px 20px;

background:#1e3a8a;

color:white;

border:none;

cursor:pointer;

}

button:disabled{

background:gray;

cursor:not-allowed;

}